@keyframes escala-desktop-titulo {
  25% {
    font-size: 9rem;
  }
  50% {
    font-size: 5rem;
  }
  100% {
    font-size: 7rem;
  }
}
@keyframes escala-desktop-sub {
  25% {
    font-size: 5rem;
  }
  50% {
    font-size: 7rem;
  }
  100% {
    font-size: 3rem;
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

/* Globales */
h1 {
  font-size: 7rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  font-family: "Baskervville SC", serif;
  color: #fff;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  letter-spacing: 2rem;
  padding-top: 5rem;
  text-shadow: 0 0 5px #fff;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 1rem;
}

hr {
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 25%;
  border: 2px solid #000;
}

a {
  text-decoration: none;
}

.main_contenedor {
  background: url(../assets/bg-main.webp) bottom/cover fixed;
}

/* Header */
.encabezado {
  background: url(../assets/header.webp) center/cover fixed;
  height: 100vh;
}
.encabezado_bg {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.encabezado_bg_nav-boton {
  background: #fff;
}
.encabezado_bg_nav {
  padding-bottom: 1rem;
  border-bottom: 1px solid #cdcdcd;
}
.encabezado_bg_nav_logo {
  height: 6rem;
}
.encabezado_bg_nav_enlace {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  text-align: start;
  text-shadow: 2px 2px #000;
  margin-right: 3rem;
}
.encabezado_bg_nav_enlace:hover {
  color: #ffd050;
  font-size: 2.2rem;
  font-weight: 600;
  font-style: oblique;
  text-align: start;
  transition: font-size 1s;
}
.encabezado_bg_titulo {
  text-align: center;
  position: relative;
  top: 30%;
}
.encabezado_bg_titulo_txt {
  font-size: 3rem;
  color: #fff;
  font-style: italic;
}

/* Alojamiento */
.alojamiento {
  padding-bottom: 5rem;
}
.alojamiento_contenido {
  margin: 0 auto;
  padding: 2rem;
}
.alojamiento_contenido_img {
  max-width: 75rem;
  margin-bottom: 1rem;
}
.alojamiento_contenido_img img {
  border-radius: 2rem;
  max-width: 100%;
  box-shadow: 2px 4px 5px #000;
}
.alojamiento_contenido_descripcion {
  align-content: center;
}
.alojamiento_contenido_descripcion_txt {
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 2rem;
  background: linear-gradient(135deg, rgb(147, 206, 222) 0%, rgba(117, 189, 209, 0.94) 27%, rgba(73, 189, 156, 0.83) 81%, rgba(73, 189, 156, 0.79) 100%);
}
.alojamiento_contenido_descripcion_txt p {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}
.alojamiento_contenido_descripcion_boton {
  margin-top: 1.5rem;
}
.alojamiento_contenido_descripcion_boton_btn {
  text-align: center;
  background: #49bd9c;
  border: 1px solid #000;
  border-radius: 3rem;
  padding: 0 1rem;
  transition: border;
}
.alojamiento_contenido_descripcion_boton_btn:hover {
  border: 2px solid #000;
  padding: 0 2rem;
}
.alojamiento_contenido_descripcion_boton_btn a {
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #000;
  cursor: pointer;
  transition: font-size 1s;
}
.alojamiento_contenido_descripcion_boton_btn a:hover {
  font-size: 2.5rem;
}

/* Galeria */
.galeria {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding-bottom: 5rem;
}
.galeria h2 {
  color: #000;
}
.galeria hr {
  border: 2px solid #fff;
}
.galeria_contenedor {
  max-width: 100rem;
}
.galeria_contenedor_carrusel {
  padding: 2rem;
}
.galeria_contenedor_carrusel_foto {
  max-height: 50rem;
}

/* Ubicacion */
.ubicacion {
  padding-bottom: 5rem;
}
.ubicacion_contenido {
  border: 2px solid #000;
  border-radius: 2rem;
  padding: 2rem;
  background: linear-gradient(135deg, rgb(147, 206, 222) 0%, rgba(117, 189, 209, 0.94) 27%, rgba(73, 189, 156, 0.83) 81%, rgba(73, 189, 156, 0.79) 100%);
}
.ubicacion_contenido_map {
  max-width: 80rem;
  border: 1px solid #000;
}
.ubicacion_contenido_txt {
  font-size: 2rem;
  font-weight: 450;
  font-style: italic;
  text-align: start;
  margin-top: 1rem;
  color: #000;
}
.ubicacion_contenido_txt span {
  display: block;
  font-size: 3rem;
  font-weight: 550;
  font-style: normal;
  text-align: start;
}

/*Contacto*/
.contacto {
  padding-bottom: 5rem;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.contacto h2 {
  color: #fff;
  text-shadow: 2px 2px #000;
}
.contacto hr {
  border: 2px solid #fff;
}
.contacto_formulario {
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 0px rgb(255, 255, 255);
  max-width: 120rem;
  border-radius: 2rem;
  margin: 0 auto;
  padding: 2rem;
}
.contacto_formulario_set {
  border: none;
  padding: 2rem;
}
.contacto_formulario_set_campo {
  margin-bottom: 1rem;
}
.contacto_formulario_set_campo label {
  font-size: 2rem;
}
.contacto_formulario_set_campo_input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  color: #000;
  font-size: 1.5rem;
}
.contacto_formulario_set_campo ::placeholder {
  font-size: 1.5rem;
}
.contacto_formulario_set_campo textarea {
  height: 20rem;
}
.contacto_formulario_set_boton {
  margin-top: 3.5rem;
  font-size: 2rem;
  padding: 0 3rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 0 #000;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}
.contacto_formulario_set_boton:hover {
  box-shadow: inset 20rem 0 0 0 #000;
  color: #fff;
}

/* footer */
.pie-de-pag {
  background: #000;
}
.pie-de-pag_logo {
  height: 12rem;
}
.pie-de-pag_red-social {
  height: 4rem;
  border-radius: 100%;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 0rem;
  margin-bottom: 1rem;
}
.pie-de-pag_link {
  font-size: 2rem;
}
.pie-de-pag_copyright {
  background: #000;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding-bottom: 1rem;
}

/* Alojamiento.html */
.alojamiento_tarjetas {
  background: rgba(0, 0, 0, 0.5);
  max-width: 180rem;
  margin: 0 auto;
  border-radius: 2rem;
}
.alojamiento_tarjetas_bg {
  height: 100%;
  margin: 0;
  border-radius: 2rem;
}
.alojamiento_tarjetas_bg_parrafo {
  font-size: 2.5rem;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin: 3rem 0;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 2px 2px #000;
}
.alojamiento_tarjetas_bg_parrafo-dos {
  font-size: 4rem;
  text-transform: uppercase;
}
.alojamiento_tarjetas_bg_contenido {
  margin: 0 auto;
}
.alojamiento_tarjetas_bg_contenido_tarjeta {
  background: linear-gradient(to right, rgb(179, 220, 237) 0%, rgba(41, 184, 229, 0.75) 50%, rgba(188, 224, 238, 0.5) 100%);
  margin: 0 auto;
  padding: 2rem;
  width: 80rem;
  border: 2px solid #000;
  border-radius: 2rem;
}
.alojamiento_tarjetas_bg_contenido_tarjeta_subtitulo {
  border-bottom: 2px solid #000;
  margin-bottom: 1rem;
}
.alojamiento_tarjetas_bg_contenido_tarjeta_txt {
  font-size: 2.5rem;
  font-weight: 500;
  font-style: normal;
  text-align: start;
  color: #000;
  margin-bottom: 1.5rem;
}
.alojamiento_tarjetas_bg_contenido_tarjeta_respuesta {
  display: block;
  font-size: 1.5rem;
}

/* galeria.html */
.galeria-fotos {
  padding-bottom: 5rem;
}
.galeria-fotos_contenido {
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 180rem;
  margin: 0 auto;
  padding: 5rem;
  border-radius: 10rem;
  overflow: hidden;
}
.galeria-fotos_contenido_foto {
  background-color: #cdcdcd;
  padding: 0.5rem;
  border-radius: 2rem;
}

/* Mq */
@media (max-width: 768px) {
  .encabezado_bg_titulo_principal {
    font-size: 5rem;
  }
  .encabezado_bg_titulo_txt {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .encabezado {
    background-attachment: scroll;
  }
  .main_contenedor {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h2 {
    letter-spacing: 5px;
  }
  .alojamiento_contenido_descripcion_txt p {
    font-size: 1.5rem;
  }
}
@media (min-width: 820px) {
  .encabezado_bg_titulo_principal {
    animation-name: escala-desktop-titulo;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
    animation-delay: 1s;
  }
  .encabezado_bg_titulo_txt {
    animation-name: escala-desktop-sub;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
    animation-delay: 1s;
  }
}

/*# sourceMappingURL=main.css.map */
