/* Variables */
:root {
    --font-principal: "Montserrat", sans-serif;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-gris: #cdcdcd;
    --bg-negro: rgba(0, 0, 0, .5);
    --bg-alojamiento_txt: rgba(49, 52, 241, 0.7);
}

/* Globales */
* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: var(--font-principal);
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    font-size: 7rem;
    font-weight: 400;
    font-style: italic;
    color: var(--color-blanco);
    text-shadow: 2px 2px var(--color-negro);
}

h2 {
    font-size: 4rem;
    letter-spacing: 2rem;
    color: var(--color-negro);
    text-align: center;
    font-style: italic;
    padding-top: 5rem;
}

hr {
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 25%;
    border: 2px solid var(--color-negro);
}

.main-contenedor {
    background: url(../assets/bg-main.jpg) 100% / cover fixed;
}

/*Header*/
.encabezado {
    background: url(../assets/header.jpeg) center / cover fixed;
    height: 100vh;
}

.encabezado-bg,
.bg-galeria,
#contacto {
    background: var(--bg-negro);
    height: 100%;
}

.enlace {
    color: var(--color-blanco);
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 2px 2px var(--color-negro);
    margin-right: 3rem;
}

.enlace:hover {
    color: var(--color-gris);
    font-weight: 600;
    transition: font-size 1s;
    font-size: 2.2rem;
}

.logo {
    height: 6rem;
}

.encabezado-nav {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-gris);
}

.encabezado-titulo {
    text-align: center;
    position: relative;
    top: 30%;
}

.titulo-principal {
    animation: mover-izq-der 3s 1;
}

.encabezado-txt {
    animation: mover-izq-der 2s 1;
    font-size: 3rem;
    color: var(--color-blanco);
}

@keyframes mover-izq-der {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(16x);
    }
}

/*Fin de header*/

/*Alojamiento*/
.alojamiento,
.ubicacion-contenido,
.bg-galeria {
    padding-bottom: 5rem;
}

.alojamiento-contenido {
    margin: 0 auto;
    padding: 2rem;
}

.alojamiento-img {
    max-width: 75rem;
    margin-bottom: 1rem;
    animation: mover-izq-der 4s 1;
}

.alojamiento-img img {
    border-radius: 2rem;
    max-width: 100%;
}

.alojamiento-descripcion {
    align-content: center;
}

.alojamiento-txt {
    padding: 1rem;
    background: var(--bg-alojamiento_txt);
    border-radius: 2rem;
}

.alojamiento-txt p {
    color: var(--color-blanco);
    text-shadow: 1px 1px var(--color-negro);
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    animation: mover-izq-der 3s 1;
}

.alojamiento-boton {
    width: 30rem;
    text-align: center;
    margin-top: 1.5rem;
    border: 2px solid var(--color-negro);
    border-radius: 3rem;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--bg-alojamiento_txt);
    -webkit-transition: ease-out 1s;
    -moz-transition: ease-out 1s;
    transition: ease-out 1s;
    animation: mover-izq-der 2s 1;
}

.alojamiento-boton:hover {
    box-shadow: inset 100rem 0 0 0 var(--bg-alojamiento_txt);
}

.boton {
    background: transparent;
    border: none;
}

.boton a {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px var(--color-negro);
    text-align: center;
    text-decoration: none;
    color: var(--color-blanco);
}

/*Fin del alojamiento*/

/*Galeria*/

.bg-galeria h2,
#contacto h2 {
    color: var(--color-blanco);
    text-shadow: 2px 2px var(--bg-negro);
}

.bg-galeria hr,
#contacto hr {
    border: 2px solid var(--color-blanco);
}

.galeria {
    max-width: 100rem;
}

.galeria-contenedor {
    padding: 2rem;
}

.galeria-imagen {
    max-height: 50rem;
}

/*fin de la galeria*/

/*Ubicacion*/
.ubicacion {
    border: 2px solid var(--color-negro);
    border-radius: 2rem;
    padding: 2rem;
}

.ubicacion-map {
    max-width: 80rem;
}

.ubicacion-txt {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-blanco);
}

.ubicacion-txt span {
    display: block;
    font-size: 3rem;
}

/*fin de ubicacion*/

/*Contacto*/
#contacto {
    padding-bottom: 5rem;
}

.formulario {
    background: var(--color-blanco);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
    max-width: 120rem;
    border-radius: 2rem;
    margin: 0 auto;
    padding: 2rem;
}

fieldset {
    border: none;
    padding: 2rem;
}

::placeholder {
    font-size: 1.5rem;
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    font-size: 2rem;
}

.input {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--color-negro);
    font-size: 1.5rem;
}

.campo textarea {
    height: 20rem;
}

.formulario-boton {
    margin-top: 3.5rem;
    font-size: 2rem;
    padding: 0 3rem;
    border-radius: 1rem;
    box-shadow: inset 0 0 0 0 var(--color-negro);
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.formulario-boton:hover {
    box-shadow: inset 20rem 0 0 0 var(--color-negro);
    color: var(--color-blanco);
}

/*footer*/
footer {
    background: var(--color-negro);
}

.footer-logo img {
    height: 12rem;
}

.facebook,
.whatsapp,
.instagram {
    height: 4rem;
    border-radius: 100%;
    margin: 1rem;
}

.footer-copyright {
    background: var(--color-negro);
    color: var(--color-blanco);
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.enlaces li a {
    font-size: 2rem;
}

/*fin del footer*/

/*Alojamiento.html*/
.alojamiento-tarjetas {
    background: url(../assets/bg-alojamiento.jpg) center / cover fixed;
    max-width: 180rem;
    margin: 0 auto;
    border-radius: 2rem;
}

.bg-alojamiento {
    background: var(--bg-negro);
    height: 100%;
    margin: 0;
    border-radius: 2rem;
}

.parrafo-uno,
.parrafo-dos {
    margin: 3rem 0;
    color: var(--color-blanco);
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 2px 2px var(--color-negro);
    font-weight: 600;
}

.parrafo-uno {
    font-size: 2.5rem;
}

.parrafo-dos {
    font-size: 4rem;
    text-transform: uppercase;
}

.tarjetas-contenido {
    margin: 0 auto;
}

.tarjeta-preguntas,
.tarjeta-servicios {
    margin: 0 auto;
    padding: 2rem;
    width: 80rem;
    border: 2px solid var(--color-negro);
    border-radius: 2rem;
}

.tarjeta-subtitulo {
    border-bottom: 2px solid var(--color-negro);
    margin-bottom: 1rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 3px;
    color: var(--color-blanco);
    text-align: center;
}

.pregunta,
.servicio {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-blanco);
    margin-bottom: 1.5rem;
}

.respuesta {
    display: block;
    font-size: 1.5rem;
}

/*Fin de lojamiento.html*/

/*galeria.html*/
.galeria-contenido {
    padding-bottom: 5rem;
}

.galeria-fotos {
    background-color: rgba(0, 0, 0, .8);
    max-width: 180rem;
    margin: 0 auto;
    padding: 5rem;
    border-radius: 10rem;
}

.foto {
    background-color: #7a7878;
    padding: 1rem;
    border-radius: 2rem;
}

/*fin de galeria.html*/

/*media queries*/
@media(max-width:768px) {
    .titulo-principal {
        font-size: 5rem;
    }

    .encabezado-txt {
        font-size: 1.5rem;
    }
}

@media(max-width: 390px) {
    h2 {
        letter-spacing: 5px;
    }

    .alojamiento-txt p {
        font-size: 1.5rem;
    }
}
