/* Alojamiento.html */
.alojamiento-tarjetas {
    background: $bg-oscuro;
    max-width: 180rem;
    margin: 0 auto;
    border-radius: 2rem;
    .bg-alojamiento {
        height: 100%;
        margin: 0;
        border-radius: 2rem;
        .parrafo-uno,
        .parrafo-dos {
            margin: 3rem 0;
            color: $color-blanco;
            text-align: center;
            letter-spacing: 5px;
            text-shadow: 2px 2px $color-negro;
            font-weight: 600;
        }
        .parrafo-uno {
            font-size: 2.5rem;
        }
        .parrafo-dos {
            font-size: 4rem;
            text-transform: uppercase;
        }
        .tarjetas-contenido {
            margin: 0 auto;
            .tarjeta-preguntas,
            .tarjeta-servicios {
                background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,0.75) 50%, rgba(188,224,238,0.5) 100%);    margin: 0 auto;
                padding: 2rem;
                width: 80rem;
                border: 2px solid $color-negro;
                border-radius: 2rem;
            }
            .tarjeta-subtitulo {
                    border-bottom: 2px solid $color-negro;
                    margin-bottom: 1rem;
            }
            .pregunta,
            .servicio {
                font-size: 2.5rem;
                font-weight: 500;
                color: $color-negro;
                margin-bottom: 1.5rem;
            }
            .respuesta {
                display: block;
                font-size: 1.5rem;
            }
        }
    }
}