/* Alojamiento.html */
.alojamiento_tarjetas {
    background: $bg-oscuro;
    max-width: 180rem;
    margin: 0 auto;
    border-radius: 2rem;
    &_bg {
        height: 100%;
        margin: 0;
        border-radius: 2rem;
        &_parrafo{
            @include style-text (2.5rem, 600, normal, center);
            margin: 3rem 0;
            color: $color-blanco;
            letter-spacing: 5px;
            text-shadow: 2px 2px $color-negro;
        }
        &_parrafo-dos {
            font-size: 4rem;
            text-transform: uppercase;
        }
        &_contenido {
            margin: 0 auto;
            &_tarjeta {
                background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,0.75) 50%, rgba(188,224,238,0.5) 100%);    margin: 0 auto;
                padding: 2rem;
                width: 80rem;
                border: 2px solid $color-negro;
                border-radius: 2rem;
                &_subtitulo {
                    border-bottom: 2px solid $color-negro;
                    margin-bottom: 1rem;
                }
                &_txt {
                    @include style-text (2.5rem, 500, normal, start);
                color: $color-negro;
                margin-bottom: 1.5rem;
                }
                &_respuesta {
                    display: block;
                font-size: 1.5rem;
                }
            }
        }
    }
}