/* footer */
.pie-de-pag {
    background: $color-negro;
    &_logo {
        height: 12rem;
    }
    &_red-social{
        height: 4rem;
        border-radius: 100%;
        @include margin (1rem, 2rem, 0rem, 1rem);
    }
    &_link {
        font-size: 2rem;
    }
    &_copyright {
        background: $color-negro;
        color: $color-blanco;
        @include style-text (2rem, 400, normal, center);
        margin: 0;
        padding-bottom: 1rem;
    }
}




