/* Galeria */
.bg-galeria{
    background: $bg-oscuro;
    height: 100%;
    padding-bottom: 5rem;
    h2 {
        color: $color-negro;
        text-shadow: 2px 2px $color-negro;
    }
    hr {
        border: 2px solid $color-blanco;
    }
    .galeria {
        max-width: 100rem;
        .galeria-contenedor {
            padding: 2rem;
            .galeria-imagen {
                max-height: 50rem;
            }
        }
    }
}