/* Galeria */
.galeria{
    background: $bg-oscuro;
    height: 100%;
    padding-bottom: 5rem;
    h2 {
        color: $color-negro;
    }
    hr {
        border: 2px solid $color-blanco;
    }
    &_contenedor {
        max-width: 100rem;
        &_carrusel {
            padding: 2rem;
            &_foto {
                max-height: 50rem;
            }
        }
    }
}