/* Ubicacion */
.ubicacion {
    padding-bottom: 5rem;
    &_contenido {
        border: 2px solid $color-negro;
        border-radius: 2rem;
        padding: 2rem;
        &_map {
            max-width: 80rem;
        }
        &_txt {
            @include style-text (2rem, 400, italic, start);
            margin-top: 1rem;
            color: $color-blanco;
            text-shadow: 0 0 1rem $color-negro;
            span {
                display: block;
                @include style-text (3rem, 500, normal, start);
            }
        }
    }
}
