/* Alojamiento */
.alojamiento {
    padding-bottom: 5rem;
    &_contenido {
        margin: 0 auto;
        padding: 2rem;
        &_img {
            max-width: 85rem;
            margin-bottom: 1rem;
            img {
                border-radius: 2rem;
                max-width: 100%;
                box-shadow: 2px 4px 5px $color-negro;
            }
        }
        &_descripcion {
            align-content: center;
            &_txt {
                padding: 1rem;
                border: 1px solid $color-negro;
                border-radius: 2rem;
                background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(117,189,209,0.94) 27%, rgba(73,189,156,0.83) 81%, rgba(73,189,156,0.79) 100%);
                p {
                    @include style-text(2.5rem, 700, italic, center);
                    color: $color-negro;
                    text-transform: uppercase;
                }
            }
            &_boton {
                margin-top: 1.5rem;
                &_btn {
                    max-width: 50rem;
                    text-align: center;
                    background: $color-verde;
                    border: 1px solid $color-negro;
                    border-radius: 3rem;
                    padding: 0 1rem;
                    transition: border;
                    &:hover {
                        border: 2px solid $color-negro;
                    }
                    a {
                        @include style-text (2.5rem, 700, normal, center);
                        color: $color-negro;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                            color: $color-blanco;
                            text-shadow: 0 0 1rem $color-negro;
                        }
                    }
                }
            }
        }
    }
}