/* Header */
.encabezado {
    background: $bg-header center / cover fixed;
    height: 100vh;
    &_bg {
        background: $bg-oscuro;
        height: 100%;
        &_nav-boton {
            background: $color-blanco;
        }
        &_nav {
            padding-bottom: 1rem;
            border-bottom: 1px solid $color-gris;
            &_logo {
                height: 6rem;
            }
            &_enlace {
                color: $color-blanco;
                @include style-text (2rem, 500, normal, start);
                text-shadow: 2px 2px $color-negro;
                margin-right: 3rem;
                &:hover {
                    color: $color-amarillo;
                    @include style-text (2.2rem, 600, oblique, start);
                    transition: font-size 1s;
                }
            }
        }
        &_titulo {
            text-align: center;
            position: relative;
            top: 30%;
            &_txt {
                font-size: 3rem;
                color: $color-blanco;
                font-style: italic;
            }
        }
    }
}