/* Globales */
h1 {
    @include style-text (7rem, 400, italic, center);
    color: $color-blanco;
}

h2 {
    @include style-text (4rem, 500, italic, center);
    letter-spacing: 2rem;
    padding-top: 5rem;
    text-shadow: 0 0 5px $color-blanco;
}

h3 {
    @include style-text (3rem, 500, italic, center);
    text-decoration: underline;
    letter-spacing: 1rem;
}

hr {
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 25%;
    border: 2px solid $color-negro;
}

a{
    text-decoration: none;
}

.main_contenedor {
    background: $bg-main bottom / cover fixed;
}