/* Mq */
@media (min-width: 820px){
    .encabezado_bg_titulo_principal{
        animation-name: escala-desktop-titulo;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-duration: 6s;
        animation-delay: 1s;
    }
    .encabezado_bg_titulo_txt {
        animation-name: escala-desktop-sub;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-duration: 6s;
        animation-delay: 1s;
    }
}
@media(max-width:768px) {
    .encabezado_bg_titulo_principal {
        font-size: 5rem;
    }
    .encabezado_bg_titulo_txt {
        font-size: 1.5rem;
    }
}
@media(max-width: 480px) {
    .encabezado{
        background-attachment: scroll;
    }
    
    .main_contenedor {
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    h2 {
        letter-spacing: 5px;
    }
    .alojamiento_contenido_descripcion_txt p {
        font-size: 1.5rem;
    }
}