// Colores
$color-negro: #000;
$color-blanco: #fff;
$color-gris: #cdcdcd;
$color-amarillo: #ffd050;
$color-verde: #49bd9c;
// Tipografia
$font-principal: "Montserrat", sans-serif;
// Background
$bg-oscuro: rgba(0, 0, 0, .5);
$bg-header: url(../assets/header.jpeg);
$bg-main: url(../assets/bg-main.jpg);